<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<appSettings>
		<!-- Api -->
		<add key="ApiUrl" value="https://integrate.uat.mixtelematics.com"/>
		<!-- IdentityServer -->
		<add key="IdentityServerBaseAddress" value="https://identity.uat.mixtelematics.com/core"/>
		<add key="IdentityServerClientId" value=""/>
		<add key="IdentityServerClientSecret" value=""/>
		<add key="IdentityServerScopes" value="offline_access MiX.Integrate"/>
		<add key="IdentityServerUserName" value=""/>
		<add key="IdentityServerPassword" value=""/>
	</appSettings>
</configuration>
